body {
    background-color: #1D41221;
    color: gray;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    margin: 0;
}

button {
    background-color: #64A512;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
